# ------------------------------------------
# Custom rules
# ------------------------------------------

*_local_*
interactives/
notebooks/

# Ignore
3rdparty/
vframe_cli/plugins/*
data/local/*
data/media/input/*
data/media/output/*
data/incoming/*
data/test/*
data/reports/*
models/detection/**/
models/classification/**/
models/ocr/**/
!models/config.yaml
!models/detection/*.yaml
config-*.yaml
*.zip

# Keep
!models/detection/.gitkeep


# Don't ignore
!vframe_cli/plugins/.gitkeep
!vframe_cli/plugins/config.yaml*
!data/.gitkeep
!data/local/.gitkeep
!data/media/.gitkeep
!data/media/input/.gitkeep
!data/media/output/.gitkeep



# ------------------------------------------
# GitHub Python .gitignore ruleset
# ------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

env/
build/
develop-eggs/
#dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/

backend/backend/
backend/media
backend/static/*

*.swp
*.pkl

.git-old/

old-package.json

*.tar

.creds

check/static/assets/js/dist/index.js
static/public/user_content

*.obj
*.ply


.DS_Store

.vframe_search.json

