# VFRAME requirements
# Usage: pip install -r requirements.txt


# ---------------------------------------------------------
# Core
# ---------------------------------------------------------

click>=8.1.3
python-dotenv>=1.0.0
numpy>=1.22.0
pandas>=2.0.1
pathos>=0.3.0
tqdm>=4.65.0
ruamel.yaml>=0.17.28
dacite>=1.8.1
colorlog>=6.7.0
PyYAML>=6.0
requests>=2.31.0
scipy>=1.10.1
pymediainfo>=6.0.1

# ---------------------------------------------------------
# Image processing
# ---------------------------------------------------------

Pillow>=9.5.0
opencv-python>=4.7.0.72
onnxruntime>=1.15.0
ultralytics>=8.0.109
ImageHash>=4.3.1

# ---------------------------------------------------------
# Plotting
# ---------------------------------------------------------

matplotlib>=3.7.1


# ---------------------------------------------------------
# GPU acceleration
# ---------------------------------------------------------

# onnx>=1.14.0
# onnxruntime-gpu>=1.15.0
# nvidia-tensorrt 